.footer {
  background: #041827;
  padding-top: 27px;
  padding-bottom: 41px;
  position: relative;

  @media (max-width: 767px) {
    padding-top: 13px;
    padding-bottom: 35px;
  }

  @media (max-width: 1023px) {
    padding-bottom: 75px;
  }
}

.footer .container {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 1023px) {
    grid-template-rows: min-content 1fr;
  }
}

.footer__inner {
  margin-top: 22px;

  @media (max-width: 1023px) {
    display: flex;
    grid-row: 1;
    grid-column: 1/12 span;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    max-width: 180px;
    flex-direction: column;
    margin-left: 24px;
    padding: 0 25px;
  }
}

.footer__social-list {
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 15px;
  margin: 23px 0 0 10px;
  max-width: 180px;

  @media (max-width: 767px) {
    margin-left: 38px;
    margin-top: 9px;
  }

  @media (max-width: 1023px) {
    margin: 0;
  }
}

.footer__social-item svg {
  width: 40px;
  height: 40px;
}

.footer__accordion {
  margin-top: 21px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 25px;
    margin-top: 17px;
    border: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__accordion--website {
  margin-left: 60px;
  grid-column: 3/6;

  @media (max-width: 767px) {
    padding: 0 25px;
    grid-column: 1;
    grid-row: 2;
  }

  @media (max-width: 1023px) {
    grid-row: 2;
    grid-column: 1/6;
    margin-left: 0;
  }
}

.footer__accordion--office {
  margin-left: 10px;
  grid-column: 9/13;

  @media (max-width: 767px) {
    padding: 0 25px;
    grid-column: 1;
    grid-row: 3;
    margin: 0;
  }

  @media (max-width: 1023px) {
    grid-row: 2;
    grid-column: 7/13;
  }
}

.footer__accordion--office .footer__item {
  width: auto;
}

.footer__box {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  @media (max-width: 767px) {
    margin-top: 15px;
    justify-content: space-between;
  }
}

.footer__title {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
}

.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 180px;
  column-gap: 39px;

  @media (max-width: 767px) {
    display: none;
  }

  @media (max-width: 1023px) {
    max-height: 100%;
  }
}

.footer__list--open {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 180px;
  column-gap: 39px;

  @media (max-width: 767px) {
    display: flex;
  }

  @media (max-width: 1023px) {
    max-height: 100%;
  }
}

.footer__item {
  width: 210px;
  margin: 0 0 9px 0;
}

.footer__item a {
  font-size: 16px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 25px;
  }
}

.footer__toggle {
  display: none;

  @media (max-width: 767px) {
    width: 18px;
    height: 18px;
    border: none;
    background: none;
    position: relative;
    display: block;
    z-index: 200;
    text-indent: -9999px;
    cursor: pointer;
  }

  &::before,
  &::after {
    content: "";
    width: 80%;
    height: 1px;
    background: $color-gray;
    position: absolute;
    top: 48%;
    left: 10%;
    transform: rotate(0deg);
    transition: all 0.3s ease-out;
  }

  &::after {
    transform: rotate(-90deg);
    transition: all 0.3s ease-out;
  }

  &:hover::before,
  &:hover::after {
    transform: rotate(180deg);
    background: #c4c4c4;
  }
}
