.forms {
  position: relative;
  padding-top: 137px;
  padding-bottom: 226px;
  background: $color-form-bg;

  @media (max-width: 767px) {
    padding-top: 21px;
    padding-bottom: 72px;
  }

  @media (max-width: 1023px) {
    padding-top: 15px;
    padding-bottom: 101px;
  }
}

.forms .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}

.forms__img {
  margin-top: 110px;
  align-self: start;
  grid-column: 1/5 span;

  @media (max-width: 1023px) {
    display: none;
  }
}
