.form {
  margin-left: 20px;
  margin-right: 10px;
  grid-column: 7/12 span;

  @media (max-width: 1023px) {
    margin-left: 0;
    margin-right: 0;
    grid-column: 1/1 span;
  }
}

.form h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 0;
  color: $color-default-white;

  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 140.62%;
  }
}

.form p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @media (max-width: 767px) {
    font-size: 14px;
  }

  @media (max-width: 1023px) {
    margin-top: 7px;
  }
}

.form__inner textarea {
  width: 100%;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  padding: 25px 15px;
  min-height: 155px;
  grid-column: span 2;

  @media (max-width: 767px) {
    min-height: 180px;
  }
}

.form__inner textarea::placeholder {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  max-width: 590px;
  align-content: center;
  margin-top: 29px;
  margin-bottom: 20px;
  column-gap: 30px;
  row-gap: 20px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    margin-top: 29px;
    grid-template-columns: 1fr;
  }

  @media (max-width: 1023px) {
    margin-top: 25px;
    max-width: 100%;
  }
}

.form__inner input {
  grid-column: span 1;
  width: 100%;
  display: block;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  padding: 15px;
}

.form__inner input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.form__inner label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.form__btn {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: $color-default-white;
  padding: 12px 25px;
  background: $color-bg-header;
  border-radius: 3px;
  border: solid 1px $color-bg-header;
  max-width: 265px;
  margin-top: 14px;

  @media (max-width: 1023px) {
    margin-top: 13px;
  }
}

.form__btn:hover {
  background: rgba(4, 20, 39, 0.15);
  border: solid 1px $color-default-white;
  transition: 0.2s;
}

.form__checkbox {
  display: flex;
  align-items: flex-end;
  margin-left: 36px;

  @media (max-width: 767px) {
    margin-left: 28px;
    margin-top: 10px;
  }

  @media (max-width: 1023px) {
    margin-left: 26px;
  }
}

.form__checkbox label {
  position: relative;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__check-box {
  top: 9px;
  margin-left: -26px;
  position: absolute;
  width: 1em;
  height: 1em;
  border: 1px solid $color-default-white;
  border-radius: 2px;

  @media (max-width: 767px) {
    top: 8px;
    margin-left: -22px;
  }
}

.form__inner input:checked + .form__check-box {
  background: url("../img/svg/check.svg") no-repeat center;
}

.form__inner input:focus + .form__check-box::before {
  top: 9px;
  margin-left: -26px;
  position: absolute;
  width: 1em;
  height: 1em;
  border: 3px solid #9b891b;
  border-radius: 2px;
}
