.products {
  background: #041827;
  padding-top: 60px;
  padding-bottom: 140px;

  @media (max-width: 767px) {
    padding-bottom: 86px;
  }

  @media (max-width: 1023px) {
    padding-top: 25px;
    padding-bottom: 75px;
  }
}

.products__title {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;

  @media (max-width: 767px) {
    font-weight: 400;
    font-size: 28px;
    line-height: 140.62%;
  }
}

.products__title--modile {
  display: none;

  @media (max-width: 767px) {
    display: block;
    max-width: 250px;
  }
}

.products__title--desk {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.products__list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 85px;
  margin: 55px 0 0;

  @media (max-width: 767px) {
    margin: 30px 0 0;
  }

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    margin: 38px 0 0;
    row-gap: 30px;
  }
}

.products__item a {
  position: relative;

  &::after {
    background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    content: "";
    z-index: 22;
  }
}

.products__item {
  z-index: 25;
  width: 100%;
}

.products__item img {
  width: 100%;
  position: relative;
}

.products__text {
  z-index: 26;
  position: absolute;
  top: 25px;
  left: 40px;
  width: 170px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  @media (max-width: 767px) {
    top: 8px;
    left: 31px;
    width: 135px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (max-width: 1023px) {
    top: 18px;
    left: 45px;
  }
}

.products__box {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: $color-bg-blue;
  border-radius: 3px 0 0 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }
}

.products__box svg {
  fill: none;
  height: 10px;
}
